*{
    box-sizing: border-box; 
}
*:focus {
    outline: none;
}

h1{
    font-family: 'Nanum Gothic', sans-serif;
}
table{
    width: 100;
    min-height: 500px;
    overflow-y: auto;
    font-family: 'Nanum Gothic', sans-serif;
    border-color: #8896D7;
    border-style: dashed;
    border-collapse: collapse;
}
th{
    background-color: #8896D7;
    color: #FFF;
}
td{
    overflow-y: auto;
    background-color: #F6F7FF;
    text-align: center;
    border-style: dashed;
    font-weight: 700;
}
.jd-th-1{
    width: 80px;
    height: 30px;
}
.jd-th-2{
    width: 200px;
}

body {
font-family: Arial; background-color: #3498DB; padding: 50px;
}
.contact {
    margin: 20px auto;
    width: 300px;
    background-color: #FFF; 
    padding: 20px; 
    border-radius: 5px
}
.title{
    text-align: center; 
    color: #777;
}
.top{
    align-content: center;
    vertical-align: middle;
}
.search_text{
    text-align: center;
    background-color: #ECF0F1; 
    border: 2px solid transparent; 
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 220px;
    transition: border .5s;
}
.search_btn{
    text-align: center;
    vertical-align: top;
    border: 2px solid transparent; 
    border-radius: 3px;
    width: 35px;
    height: 42px;
    background-color: #8896D7;
    color: #FFF;
    transition: border .5s;
}

.new{
    text-align: right;
}
.new_btn{
    text-align: center;
    vertical-align: top;
    border: 2px solid transparent; 
    border-radius: 3px;
    width: 70px;
    height: 22px;
    background-color: #8896D7;
    color: #FFF;
    transition: border .5s;
}