<!DOCTYPE html>
<html>
<head>
    <title>연락처 추가</title>
</head>
<body>
    <h1>연락처 추가</h1>
    <form action="/insert" method="POST">
        <table>
            <tr>
                <th>이름</th>
                <th><input type="text" name="name" /></th>
            </tr>
            <tr>
                <th>연락처</th>
                <th><input type="text" name="phone" /></th>
            </tr>

        </table>
        <input type="reset" value="취소">
        <input type="submit" value="확인">
    </form>
</body>
</html>